.chessLabel {
    color: #000;
    font-style: italic;
    font-weight: 700;
    opacity: 0.3;
    pointer-events: none;
    position: absolute;
    user-select: none;
    z-index: 3;

    &_letter {
        bottom: 3px;
        right: 5px;
        text-transform: uppercase;
    }

    &_number {
        left: 3px;
        top: 3px;
    }
}

.chessRow:not(.chessRow_1) .chessLabel_letter {
    display: none;
}

.chessTile:not(.chessTile_a) .chessLabel_number {
    display: none;
}
