.chessLabel {
    background: rgba(#000, 0.5);
    color: #000;
    font-size: 0.75em;
    font-style: italic;
    font-weight: 700;
    opacity: 0.5;
    padding: 0.15em 0.3em;
    position: absolute;
    z-index: 3;

    &_letter {
        bottom: 0;
        right: 0;
        text-transform: uppercase;
    }

    &_number {
        left: 0;
        top: 0;
    }
}
