.chessPiece {
    height: 100%;
    position: absolute;
    width: 100%;

    &.color_black {
        color: #000;
    }
    &.color_white {
        color: #fff;
    }

    &.active {
        cursor: pointer;
        &:hover {
            box-shadow: 0 0 10px 3px rgba(#000, 0.5) inset;
        }
    }

    svg {
        height: 80%;
        margin: 10%;
        width: 80%;

        path {
            stroke: #000;
            stroke-width: 5px;
        }
    }
}
