.chessPopup {
    background: rgba(#000, 0.5);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;

    button {
        @include buttonColor(#0d0, #000);
        font-size: 20px;
        margin: 0 auto;
        padding: 15px;
        position: relative;
        top: 40%;
    }
}
