.chessTile {
    height: 100%;
    position: relative;
    width: 100%;

    &--contain.active{
        cursor: pointer;
        &:hover {
            box-shadow: 0 0 10px 3px rgba(#000, 0.5) inset;
        }
    }
}
