{
    "env": {
        "test": {
            "presets": [
                "@babel/env",
                "@babel/react"
            ]
        }
    },
    "presets": [
        "@babel/env",
        "@babel/react"
    ]
}
