.chatuser {
    .header {
        font-size: 20px;
        font-weight: bold;
        padding: 5px;
        vertical-align: top;

        .avatar {
            height: 20px;
            margin-right: 10px;
            width: 20px;
        }
    }
}
