$titles: (
    (
        'tag': 'h1',
        'color': #00bd9d,
    ),
    (
        'tag': 'h2',
        'color': #00b4bd,
    ),
    (
        'tag': 'h3',
        'color': #0089bf,
    )
);

@each $entry in $titles {
    $tag: map-get($entry, 'tag');
    $color: map-get($entry, 'color');

    #{$tag} {
        color: $color;
        margin: 10px 0 0 0;
        padding: 3px;
    }
}
