@import './../core';
@import './chatUser/avatar';
@import './chatUser/gender';
@import './chatUser/header';
@import './chatUser/input';
@import './chatUser/message';
@import './chatUser/typing';

.chatuser {
    display: flex;
    flex-direction: column;
    height: 350px;
    margin: 10px;
    position: relative;

    @media (min-width: 751px) {
        float: left;
        width: calc(50% - 30px);
    }
}
