$piecePercent: percentage(1/6);
$tilePercent: percentage(1/8);

$letters: ('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h');
$numbers: (8, 7, 6, 5, 4, 3, 2, 1);
$types: ('pawn', 'rook', 'knight', 'bishop', 'queen', 'king');

.chessPiece {
    background: transparent url('/asset/chess-pieces.png') no-repeat;
    cursor: pointer;
    height: $tilePercent;
    position: absolute;
    width: $tilePercent;

    @each $letter in $letters {
        $index: index($letters, $letter) - 1;
        &.letter_#{$letter} { left: $tilePercent * $index; }
    }

    @each $number in $numbers {
        $index: index($numbers, $number) - 1;
        &.number_#{$number} { top: $tilePercent * $index; }
    }

    @each $type in $types {
        $index: index($types, $type) - 1;
        &.type_#{$type} { background-position-x: $piecePercent * $index; }
    }
}
