.chessPieceList {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;

    &_black .chessPiece {
        color: #000;
    }
    &_white .chessPiece {
        color: #fff;
    }
}
