$piecePercent: percentage(1/6);
$tilePercent: percentage(1/8);

$letters: ('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h');
$numbers: (8, 7, 6, 5, 4, 3, 2, 1);
$types: ('pawn', 'rook', 'knight', 'bishop', 'queen', 'king');

.chessPiece {
    cursor: pointer;
    height: $tilePercent;
    position: absolute;
    width: $tilePercent;

    @each $letter in $letters {
        $index: index($letters, $letter) - 1;
        &.letter_#{$letter} {
            left: $tilePercent * $index;
        }
    }

    @each $number in $numbers {
        $index: index($numbers, $number) - 1;
        &.number_#{$number} {
            top: $tilePercent * $index;
        }
    }

    svg {
        height: 80%;
        margin: 10%;
        width: 80%;

        path {
            stroke: #000;
            stroke-width: 5px;
        }
    }
}
