@keyframes loadAnimation {
    0% {
        content: '.';
    }
    25% {
        content: '..';
    }
    50% {
        content: '...';
    }
    75% {
        content: '....';
    }
}

#loading {
    background: rgba(#000, 0.5);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;

    div {
        margin: 0 auto;
        pointer-events: none;
        position: relative;
        text-align: center;
        top: 40%;
        user-select: none;

        .text {
            color: #fff;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
}
